@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.webkitAutoFillOverride:-webkit-autofill,
.webkitAutoFillOverride:-webkit-autofill:hover,
.webkitAutoFillOverride:-webkit-autofill:focus,
.webkitAutoFillOverride:-webkit-autofill:active {
  transition: background-color 1000s ease-in-out 0s !important;
  -webkit-text-fill-color: #fff;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-8 text-neutral-400;
}

select:focus-within ~ label,
select:has(option[value=""]:not(:checked)) ~ label {
  @apply transform scale-90 -translate-y-8 text-neutral-400;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-8;
}

input:focus-within ~ label,
textarea:focus-within ~ label {
  @apply text-neutral-500;
}

.social li {
  @apply relative float-left mr-4;
}
.social li a {
  @apply bg-[#333] text-white h-10 relative w-10 hover:text-white hover:bg-white rounded-full transition-colors duration-300 items-center justify-center flex;
}
.social li a i {
  @apply relative z-20;
}
.social li a .inner {
  @apply absolute block w-0 h-0 m-0 transition-all duration-300 bg-red-700 rounded-full left-2/4 top-2/4;
}
.social li a:hover .inner {
  @apply h-[40px] w-[40px] ml-[-20px] mt-[-20px];
}

/* TODO: Add decoration for Active state  */
.active-diagonal-line > a,
.active-diagonal-line {
  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Add decoration for Hover state */
.hover-diagonal-line > li > a::before,
.hover-diagonal-line > ul > li > a::before {
  @apply content-[""] absolute h-0.5 w-[50px] bg-[#c62828]  z-[-1] left-2/4 top-2/4;

  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.hover-diagonal-line > li > a:hover::before,
.hover-diagonal-line > ul > li > a:hover::before {
  opacity: 1;
  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.hero-decor-before::before {
  @apply content-[""] inline-block align-middle h-0.5 bg-white;
}

.section-divider-white {
  @apply relative text-center;
}
.section-divider-white::before {
  @apply content-[""] block absolute left-2/4 top-16 w-10 h-1 bg-white;
  transform: translate(-50%);
}

.section-divider {
  @apply relative text-center;
}

.section-divider::before {
  @apply content-[""] block absolute left-2/4 top-16 w-20 h-1 bg-[#333];
  transform: translate(-50%);
}
