@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.webkitAutoFillOverride:-webkit-autofill,
.webkitAutoFillOverride:-webkit-autofill:hover,
.webkitAutoFillOverride:-webkit-autofill:focus,
.webkitAutoFillOverride:-webkit-autofill:active {
  transition: background-color 1000s ease-in-out 0s !important;
  -webkit-text-fill-color: #fff;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-8;
}

select:focus-within ~ label,
select:has(option[value=""]:not(:checked)) ~ label {
  @apply transform scale-90 -translate-y-8;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-8;
}

input:focus-within ~ label,
textarea:focus-within ~ label {
  @apply text-neutral-500;
}

.footer-widgets__row--is-numbered {
  counter-reset: widget-number;
}
.footer-widgets__row--is-numbered [class*="col-"] {
  counter-increment: widget-number;
}
.footer-widgets__row--is-numbered [class*="col-"] .widget__header::before {
  content: "0" counter(widget-number);
}

.social li {
  @apply relative float-left mr-4;
}
.social li a {
  @apply bg-[#333] text-white h-10 relative w-10 hover:text-white hover:bg-white rounded-full transition-colors duration-300 items-center justify-center flex;
}
.social li a i {
  @apply relative z-20;
}
.social li a .inner {
  @apply absolute block w-0 h-0 m-0 transition-all duration-300 bg-red-700 rounded-full left-2/4 top-2/4;
}
.social li a:hover .inner {
  @apply h-[40px] w-[40px] ml-[-20px] mt-[-20px];
}

/* TODO: Add decoration for Active state  */
.active-diagonal-line > a,
.active-diagonal-line {
  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Add decoration for Hover state */
.hover-diagonal-line > li > a::before,
.hover-diagonal-line > ul > li > a::before {
  @apply content-[""] absolute h-0.5 w-[50px] bg-[#c62828]  z-[-1] left-2/4 top-2/4;

  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.hover-diagonal-line > li > a:hover::before,
.hover-diagonal-line > ul > li > a:hover::before {
  opacity: 1;
  transform: translateX(-50%) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.hero-decor-before::before {
  @apply content-[""] inline-block align-middle h-0.5 bg-white;
}

.section-divider-white {
  @apply relative text-center;
}
.section-divider-white::before {
  @apply content-[""] block absolute left-2/4 top-16 w-10 h-1 bg-white;
  transform: translate(-50%);
}

.section-divider {
  @apply relative text-center;
}

.section-divider::before {
  @apply content-[""] block absolute left-2/4 top-16 w-20 h-1 bg-[#333];
  transform: translate(-50%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
